.container {
	position: relative;
	margin-bottom: 1.5rem;
}

.half {
	width: 45%;
}

.fullwidth {
	width: 100%;
}

.label {
	font-size: 0.8rem;
	color: #666666;
}

.input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 5px;
	border: none;
	border-bottom: 1px solid #80a5b4;
	background-color: transparent;
    font-size: 0.8rem;
    font-weight: bold;
}

.input:focus {
    border-bottom-color: #3a3759;
	outline: none;
}

.container span {
	position: absolute;
	bottom: -13px;
	left: 5px;
	color: red;
	font-style: italic;
	font-size: 7px;
}